:root {
    --mint-cream: #f1fffaff;
    --tea-green: #ccfccbff;
    --celadon: #96e6b3ff;
    --fern-green: #568259ff;
    --outer-space: #464e47ff;
    --font-pri:'montserrat';

  }

  html{
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
  background-color: var(--fern-green)
  }
  
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  h4 {
    color: var(--outer-space);
    font-family: var(--font-pri);
  }

  .container {
    padding: 0% 5%;
  }

  /* -----------------------cabecalho/paina inicial--------------------------------- */

  .cabecalho {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .divisor {
    content: '';
    width: 100%;
    height: .4rem;
    box-shadow: 0px 15px 20px rgba(254, 250, 224, 0.2);
    margin-bottom: 4rem;
  }
  /* -------------------------- navegation ---------------------------------------------- */
  .container-nav {
    padding: 1.25rem;
    position: block;
  }

 .list-nav {
    display: flex;
    gap: 2rem;
  }

  .list-nav li a {
    color: var(--mint-cream);
    font-family: var(--font-pri);
    font-size: 2rem;
    font-weight: bold;
    position: relative;
  }

  .list-nav li a::after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 300ms ease-in-out;
    border-bottom: solid 2px var(--mint-cream);
    background-color: var(--mint-cream);
  }
  .list-nav li a:hover::after,
  .list-nav li a.active::after {
    transform: scaleX(1);
  }

  /* --------------------------------------- pagina inicial ----------------------------------------- */
  .initial {
    display: flex;
    justify-content: center;
  }

  .container-initial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 100vh;
    margin: 1.25rem;
  }

  .container-initial p {
    font-family: var(--font-pri);
    font-size: 2rem;
    font-weight: 600;
    color: var(--mint-cream);
    padding: 1.5rem;
    text-align: center;
  }

  .img-casal {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  .img-casal img {
    width: 50%;
    max-height: fit-content;
    border-radius: 1.25rem;
    z-index: 1;
    right: 2.93rem;
    overflow: hidden;
    z-index: 0;
  }

  .img-casal img::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: var(--tea-green);
    z-index: -1;
    left: 19%;
    top: 18%;
  }



  /* ------------------------------------------------------Gifts---------------------------------------- */
  .container-gifts {
    width: 100%;
  }

  .container-gifts h2 {
    padding: 2rem;
    font: 3rem var(--font-pri);
    font-weight: 600;
    color: var(--mint-cream);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }

  .all-gifts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    margin: 5%;
    justify-content: center;
    align-items: center;
  }

  .content-gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: .5rem;
    background-color: #fff;
    border-radius: 1.25rem;
    width: 20rem;
    height: 27rem;
  }

  .container-gift img {
    max-width: 80%;
    max-height: fit-content;
    height: 18rem;
    object-fit: contain;
    border-radius: 1.25rem;
    transition: all 300ms ease-in-out;
    overflow: hidden;
  }

  .container-gift img:hover {
    transform: scale(1.05);
  }

  .content-gift a {
    width: 50%;
    padding: .8rem;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font: 1rem var(--font-pri);
    color: var(--tea-green);
    background-color: var(--fern-green);
    transition: text-transform 2s ease-in-out;
  }

  .content-gift a:hover {
    text-transform: uppercase;
  }

  /* recado -------------------------------------------------- */

  .recado {
    width: 100%;
    height: 14.6rem;
    font-family: var(--font-pri);
    color: var(--mint-cream);

  }

  .recado h2 {
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
  }

  .recado p {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }
 /* back-to-top---------------------------------------------------- */
  .back-to-top {
    background: var(--tea-green);
    color: var(--fern-green);
  
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  
    padding: 0.5rem;
    clip-path: circle();
  
    font-size: 1.5rem;
    line-height: 0;
  
    visibility: hidden;
    opacity: 0;
  
    transition: 0.3s;
    transform: translateY(100%);
  }

  .back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  @media screen and (max-width: 750px) {

    .list-nav li a {
        font-size: 1.2rem;
    }

    .container-initial {
        grid-template-columns: 1fr;
    }
    .container-initial p {
        font-size: 1.5rem;
    }

    .all-gifts {
        margin: 5%;
    }

    .recado h2 {
      font-size: 1.5rem;
    }

    .recado p {
      font-size: 1.2rem;
    }
    

  }
